<div fxFill fxLayout="column">
  <div>
    <mat-toolbar class="manager-toolbar">
      <span class="fill-remaining-space"></span>
      <button matTooltip="Create item" mat-button (click)="addEditItem()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <mat-divider horizontal></mat-divider>
  <div fxLayout="row" fxFlex>
    <mat-card cdkDropList
      #newList="cdkDropList"
      [cdkDropListData]="columns.new"
      [cdkDropListConnectedTo]="[newList, approvedList, commitedList, doneList]"
      class="workflow-manager-list"
      (cdkDropListDropped)="drop($event)">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>forward</mat-icon>
        </div>
        <mat-card-title>New</mat-card-title>
      </mat-card-header>
      <mat-expansion-panel class="expansion-panel" cdkDrag *ngFor="let item of columns.new">
        <mat-expansion-panel-header>
          <mat-panel-title matTooltip="{{item.name}}" class="panel-title">
            {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxFlex>
          <div fxLayout="column" fxFill>
            <div fxFlex class="content">{{item.content}}</div>
            <div fxFlex fxFlexAlign="end">
              <button matTooltip="Edit item" (click)="addEditItem(item)" mat-raised-button>
                <mat-icon>edit</mat-icon>
              </button>
              <!-- <button matTooltip="Delete item" (click)="delete(item.id)" mat-raised-button>
                <mat-icon>delete</mat-icon>
              </button> -->
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-card>
    <mat-card cdkDropList
    #approvedList="cdkDropList"
    [cdkDropListData]="columns.approved"
    [cdkDropListConnectedTo]="[newList, approvedList, commitedList, doneList]"
    class="workflow-manager-list"
    (cdkDropListDropped)="drop($event)">
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon>flight_takeoff</mat-icon>
        </div>
      <mat-card-title>Approved</mat-card-title>
    </mat-card-header>
    <mat-expansion-panel class="expansion-panel" *ngFor="let item of columns.approved" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title matTooltip="{{item.name}}">
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxFlex>
        <div fxLayout="column" fxFill>
          <div fxFlex class="content">{{item.content}}</div>
          <div fxFlex fxFlexAlign="end">
            <button matTooltip="Edit item" (click)="addEditItem(item)" mat-raised-button>
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button matTooltip="Delete item" (click)="delete(item.id)" mat-raised-button>
              <mat-icon>delete</mat-icon>
            </button> -->
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
  <mat-card cdkDropList
    #commitedList="cdkDropList"
    [cdkDropListData]="columns.commited"
    [cdkDropListConnectedTo]="[newList, approvedList, commitedList, doneList]"
    class="workflow-manager-list"
    (cdkDropListDropped)="drop($event)">
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon>rowing</mat-icon>
        </div>
      <mat-card-title>Commited</mat-card-title>
    </mat-card-header>
    <mat-expansion-panel class="expansion-panel" *ngFor="let item of columns.commited" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title matTooltip="{{item.name}}">
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxFlex>
        <div fxLayout="column" fxFill>
          <div fxFlex class="content">{{item.content}}</div>
          <div fxFlex fxFlexAlign="end">
            <button matTooltip="Edit item" (click)="addEditItem(item)" mat-raised-button>
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button matTooltip="Delete item" (click)="delete(item.id)" mat-raised-button>
              <mat-icon>delete</mat-icon>
            </button> -->
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
  <mat-card cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="columns.done"
    [cdkDropListConnectedTo]="[newList, approvedList, commitedList, doneList]"
    class="workflow-manager-list"
    (cdkDropListDropped)="drop($event)">
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon>check_circle_outline</mat-icon>
        </div>
      <mat-card-title>Done</mat-card-title>
    </mat-card-header>
    <mat-expansion-panel class="expansion-panel" *ngFor="let item of columns.done" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title matTooltip="{{item.name}}">
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxFlex>
        <div fxLayout="column" fxFill>
          <div fxFlex class="content">{{item.content}}</div>
          <div fxFlex fxFlexAlign="end">
            <button matTooltip="Edit item" (click)="addEditItem(item)" mat-raised-button>
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button matTooltip="Delete item" (click)="delete(item.id)" mat-raised-button>
              <mat-icon>delete</mat-icon>
            </button> -->
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
  </div>
</div>


