<form [formGroup]="foodForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input name="foodDate" type="date" formControlName="foodDate" required matInput placeholder="Date">
    <mat-error>ERROR</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Breakfast</mat-label>
    <input name="foodBreakfast" type="text" formControlName="foodBreakfast" required matInput placeholder="Breakfast">
    <mat-error>ERROR</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lunch</mat-label>
    <input name="foodLunch" type="text" formControlName="foodLunch" required matInput placeholder="Lunch">
    <mat-error>ERROR</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dinner</mat-label>
    <input name="foodDinner" type="text" formControlName="foodDinner" required matInput placeholder="Dinner">
  </mat-form-field>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-stroked-button type="reset" color="warn" (click)="dialogRef.close()">Cancel</button>
    <button mat-stroked-button color="primary" fxFlexOffset="15px" type="submit">Submit</button>
  </div>
</form>
