<mat-button-toggle (click)="changeView()">Toggle chart/tile view</mat-button-toggle>
<div class="tiles-container" *ngIf="!chartView">
	<div
		*ngFor="let key of objectKeys(items)"
		class="tile"
		[ngClass]="{ 'tile-hidden': !items[key].length}"
	>
		<app-money-tile
			[items]="items[key]"
			*ngIf="items[key].length"
		></app-money-tile>
	</div>
	<button matTooltip="Add item" dir="rtl" mat-raised-button (click)="add()" class="add-button">
		<mat-icon>add</mat-icon>
	</button>
</div>
<div class="chart-container" *ngIf="chartView">
	<h1>Total: {{chartData.all}}, Dangerous: {{chartData.dangerous}}, Mixed: {{chartData.mixed}}, Safe: {{chartData.safe}} </h1>
    <div class="pie-chart" [attr.style]="sanitizer.bypassSecurityTrustStyle(chartBackground)"></div>
</div>
