@import '../../app.component';


:host::ng-deep .mat-list-item-content {
    width: 100% !important;
}

.add-button {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.header {
    width: 100%;
}

.tile {
	padding: 8px;
	height: 100%;
	overflow: hidden;
}
