@import '../../app.component';

:host::ng-deep .mat-list-item-content {
	width: 100% !important;
}

.tiles-container {
	max-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	flex-wrap: wrap;
	display: flex;
}

.tile-hidden {
	display: none;
}

.add-button {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.header {
	width: 100%;
}

.tile {
	padding: 8px;
	height: 100%;
	overflow: hidden;
}

.chart-container {
	height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pie-chart {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 300px;
	display: block;
	position: absolute;
	width: 400px;
	height: 400px;
	border-radius: 50%;
}