@import '../../app.component';

:host::ng-deep .mat-list-item-content {
	width: 100% !important;
}

.tiles-container {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}

.tile-hidden {
	display: none;
}

.add-button {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.header {
	width: 100%;
}

.tile {
	min-width: 300px;
	padding: 8px;
	height: 100%;
	overflow: hidden;
}
