<table fxFlex mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="breakfast">
    <th mat-header-cell *matHeaderCellDef> Breakfast </th>
    <td mat-cell *matCellDef="let element"> {{element.breakfast}} </td>
  </ng-container>

  <ng-container matColumnDef="lunch">
    <th mat-header-cell *matHeaderCellDef> Lunch </th>
    <td mat-cell *matCellDef="let element"> {{element.lunch}} </td>
  </ng-container>

  <ng-container matColumnDef="dinner">
      <th mat-header-cell *matHeaderCellDef> Dinner </th>
      <td mat-cell *matCellDef="let element"> {{element.dinner}} </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>
        <button mat-button (click)="addOrEditEntry()">
          <mat-icon matTooltip="Add Entry">add</mat-icon>
        </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="addOrEditEntry(element)">
        <mat-icon matTooltip="Edit Entry">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
