<div fxFill fxLayout="column" class="main-container">
	<mat-toolbar class="header">
		<button mat-icon-button (click)="sideNavigation.toggle()" label="Toggle Menu" class="header-menu-button">
			<mat-icon>menu</mat-icon>
		</button>
		<div class="header-menu-breadcrum">
			<h4>The Marek App</h4>
		</div>
		<span class="example-fill-remaining-space"></span>
		<button mat-raised-button color="primary" (click)="onSetTheme('dark-theme')">{{theme}}</button>
	</mat-toolbar>
	<mat-divider></mat-divider>
	<mat-sidenav-container class="side-navigation-container" fxFlex>
		<mat-sidenav class="side-navigation" #sideNavigation opened mode="side">
			<div fxLayout="column" fxLayoutAlign="start space-between" fxFlex>
				<mat-nav-list fxLayout="column" fxLayoutAlign="start stretch">
          <a mat-list-item [routerLink]="['/food']">Food</a>
					<a mat-list-item [routerLink]="['/body-mind']">Body & Mind</a>
					<a mat-list-item [routerLink]="['/firmware-control']">School & Books</a>
					<a mat-list-item [routerLink]="['/software-center']">Long term goals</a>
				</mat-nav-list>
			</div>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
