.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.header {
  height: 65px;
}

.blue-text {
  color: #3f51b5;
}

.red-text {
  color: #e91e63;
}

.header-menu-button {
  margin-bottom: 3px;
}

.navigation-button {
  font-size: 22px !important;
}

.manager-toolbar {
  height: 50px;
}

.side-navigation-container {
  height: calc(100% - 65px);
}
