.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.header {
  height: 65px;
}

.side-navigation-container {
  height: calc(100% - 65px);
}

.side-navigation {
  width: 200px;
}
