.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.header {
  height: 65px;
}

.navigation-button {
  margin-left: 10px;
}

.manager-toolbar {
  height: 50px;
}

.side-navigation-container {
  height: calc(100% - 65px);
}
