<div fxFill fxLayout="column" class="main-container">
	<mat-toolbar color="primary" class="header" *ngIf="isAuthorized">
		<button
			mat-icon-button
			(click)="toggleSidenav()"
			label="Toggle Menu"
			class="header-menu-button"
			matTooltip="Toggle sidenav"
		>
			<mat-icon>menu</mat-icon>
		</button>
		<div>
			<div fxLayout="row" fxLayoutAlign="space-around center">
				<button
					mat-button
					class="navigation-button"
					[matMenuTriggerFor]="menu"
					matTooltip="Toggle user"
				>
					<span *ngIf="author">The {{ author }} App</span>
					<span *ngIf="!author">Pick user</span>
				</button>
				<mat-menu #menu="matMenu">
					<button [mat-menu-item] (click)="chooseAuthor(null)">Unset user</button>
					<div *ngFor="let user of users">
						<button [mat-menu-item] (click)="chooseAuthor(user)">
							{{ user }}
						</button>
					</div>
				</mat-menu>
			</div>
		</div>
		<span class="fill-remaining-space"></span>
		<button
			class="navigation-button"
			mat-button
			[matMenuTriggerFor]="themes"
			matTooltip="Toggle theme"
		>
			<mat-icon>format_color_fill</mat-icon>
		</button>
		<mat-menu #themes="matMenu">
			<button mat-menu-item (click)="onSetTheme('Dark')">Dark</button>
			<button mat-menu-item (click)="onSetTheme('Light')">Light</button>
		</mat-menu>
		<button mat-button matTooltip="Logout" (click)="logout()">
			<mat-icon>power_settings_new</mat-icon>
		</button>
	</mat-toolbar>
	<mat-divider></mat-divider>
	<mat-sidenav-container class="{{ sidenavWidthClass }}">
		<mat-sidenav #sideNavigation [opened]="opened" mode="side" *ngIf="isAuthorized">
			<div fxLayout="column" fxLayoutAlign="start space-between" fxFlex>
				<mat-nav-list fxLayout="column" fxLayoutAlign="start stretch" fxFill>
					<!-- <a mat-list-item [routerLink]="['/day-quality-tab']">Day Quality</a> -->
					<a mat-list-item [routerLink]="['/money-tab']">Money</a>
					<a mat-list-item [routerLink]="['/workflow-tab']">Workflow</a> 
					<a mat-list-item [routerLink]="['/food-tab']">Food</a>
					<!--
					<a mat-list-item [routerLink]="['/school-tab']">School</a> 
					-->
				</mat-nav-list>
			</div>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
