<div fxFill fxLayout="column" class="main-container">
	<mat-toolbar color="primary" class="header">
		<button mat-icon-button (click)="sideNavigation.toggle()" label="Toggle Menu" class="header-menu-button">
			<mat-icon>menu</mat-icon>
		</button>
		<div class="header-menu-breadcrum">
			<h4>The You App</h4>
		</div>
		<span class="fill-remaining-space"></span>
		<button class="navigation-button" mat-button [matMenuTriggerFor]="themes" matTooltip="Toggle theme">
			<mat-icon>format_color_fill</mat-icon>
		</button>
		<mat-menu #themes="matMenu">
			<button mat-menu-item (click)="onSetTheme('Dark')">Dark</button>
			<button mat-menu-item (click)="onSetTheme('Light')">Light</button>
		</mat-menu>
	</mat-toolbar>
	<mat-divider></mat-divider>
	<mat-sidenav-container class="side-navigation-container" fxFlex>
		<mat-sidenav #sideNavigation opened mode="side">
			<div fxLayout="column" fxLayoutAlign="start space-between" fxFlex>
				<mat-nav-list fxLayout="column" fxLayoutAlign="start stretch">
					<!-- <a mat-list-item [routerLink]="['/food']">Food</a> -->
					<a mat-list-item [routerLink]="['/sport']">Body & Mind</a>
					<!-- <a mat-list-item [routerLink]="['/money']">Money Manager</a> -->
					<a mat-list-item [routerLink]="['/workflow']">
						<div>Workflow Manager</div>
						<button class="navigation-button" mat-button [matMenuTriggerFor]="menu" matTooltip="Toggle user">
							<mat-icon>face</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="chooseAuthor('Marek')">Marek</button>
							<button mat-menu-item (click)="chooseAuthor('Terezka')">Terezka</button>
							<button mat-menu-item (click)="chooseAuthor('Oba')">Oba</button>
						</mat-menu>
					</a>
					<!-- <a mat-list-item [routerLink]="['/long-term-goals']">Long Term Goals</a> -->
				</mat-nav-list>
			</div>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
