<mat-card class="money-card">
	<mat-card-header class="header" fxLayout="row" fxLayoutAlign="space-between center">
		<button (click)="collapsed = !collapsed" mat-button title="collapse">
			<mat-icon *ngIf="collapsed">chevron_right</mat-icon>
			<mat-icon *ngIf="!collapsed">chevron_left</mat-icon>
		</button>
		<div mat-card-avatar class="{{ image }}" title="{{ header }}" *ngIf="!collapsed"></div>
		<mat-card-title fxLayout="column" *ngIf="!collapsed" style="padding: 0 6px 0 6px; margin: 0px">
			<div class="ellipsis" title="{{ header }} {{ accumulator(items, 'amount') }} CZK">
				{{ header }}
			</div>
			<div class="ellipsis" *ngIf="!adjustableContent()">{{ accumulator(items, 'amount') }} CZK</div>
			<div *ngIf="adjustableContent()">
				<div class="pointer ellipsis" *ngIf="!adjustablesFrom.isBeingEdited" (click)="editAdjustablesFrom()">
					{{ accumulator(items, 'amount') }} from
					{{ adjustablesFrom.date | date: 'dd.MM.yyyy' }}
				</div>
				<mat-form-field *ngIf="adjustablesFrom.isBeingEdited" fxLayout="row" fxFlex>
					<input
						name="adjustablesFrom"
						type="date"
						[(ngModel)]="adjustablesFrom.date"
						(ngModelChange)="setAdjustablesFrom($event)"
						matInput
					/>
				</mat-form-field>
			</div>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content [ngClass]="{ 'expansion-padding': adjustableContent() }" *ngIf="!collapsed">
		<mat-expansion-panel class="expansion-panel" *ngIf="adjustableContent()">
			<mat-expansion-panel-header>
				<mat-panel-title class="panel-title"> Previous months </mat-panel-title>
			</mat-expansion-panel-header>
			<div fxLayout="row" fxFlex>
				<div fxLayout="column" fxFill class="content">Duben - 23 tisíc, chorela 2300 Květen - cca 26 tisíc</div>
			</div>
		</mat-expansion-panel>
		<mat-list *ngFor="let item of items">
			<mat-list-item
				fxLayout="row"
				fxFlex
				title="edit item {{ item.name }}"
				fxLayoutAlign="space-between center"
				style="overflow-hidden;"
			>
				<div fxLayout="column" style="padding-right: 0.5rem" fxFlex>
					<div (click)="showEditingInput(item)" *ngIf="!item.isBeingEdited" class="pointer ellipsis">
						{{ item.name }} {{ item.amount }}
					</div>
					<mat-form-field *ngIf="item.isBeingEdited" fxLayout="row" fxFlex>
						<input
							name="item"
							type="text"
							[(ngModel)]="changedItem"
							(ngModelChange)="valChanged($event)"
							matInput
						/>
					</mat-form-field>
				</div>
				<button
					dir="rtl"
					matTooltip="Delete item"
					mat-button
					(click)="delete(item.id)"
					*ngIf="!item.isBeingEdited"
				>
					<mat-icon>delete</mat-icon>
				</button>
				<button
					dir="rtl"
					matTooltip="Save changes"
					mat-button
					(click)="editItem(item)"
					*ngIf="item.isBeingEdited"
				>
					<mat-icon>save</mat-icon>
				</button>
			</mat-list-item>
			<mat-divider></mat-divider>
		</mat-list>
	</mat-card-content>
</mat-card>
