<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="onSubmit()">
	<mat-form-field>
		<mat-label>Date</mat-label>
		<input
			name="date"
			[matDatepicker]="picker"
			formControlName="date"
			matInput
			placeholder="Choose date"
		/>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
		<mat-error>ERROR</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Subject</mat-label>
		<textarea
			name="subject"
			type="text"
			formControlName="subject"
			required
			matInput
			placeholder="Subject"
		></textarea>
		<mat-error>ERROR</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Type of test</mat-label>
		<textarea
			name="typeOfTest"
			type="text"
			formControlName="typeOfTest"
			required
			matInput
			placeholder="Type of test"
		></textarea>
		<mat-error>ERROR</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Difficulty</mat-label>
		<textarea
			name="difficulty"
			type="text"
			formControlName="difficulty"
			required
			matInput
			placeholder="Difficulty"
		></textarea>
		<mat-error>ERROR</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Author</mat-label>
		<input type="text" matInput formControlName="author" [matAutocomplete]="author" />
	</mat-form-field>

	<mat-autocomplete #author="matAutocomplete">
		<mat-option *ngFor="let author of authors" [value]="author">{{ author }}</mat-option>
	</mat-autocomplete>

	<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
		<button mat-stroked-button type="reset" color="warn" (click)="dialogRef.close()">
			Cancel
		</button>
		<button mat-stroked-button color="primary" fxFlexOffset="15px" type="submit">Submit</button>
	</div>
</form>
