<table fxFlex mat-table [dataSource]="foodItems" class="mat-elevation-z8">
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef>Date</th>
		<td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
	</ng-container>

	<ng-container matColumnDef="firstFood">
		<th mat-header-cell *matHeaderCellDef>First food</th>
		<td mat-cell *matCellDef="let element">{{ element.firstFood }}</td>
	</ng-container>

	<ng-container matColumnDef="lastFood">
		<th mat-header-cell *matHeaderCellDef>Last food</th>
		<td mat-cell *matCellDef="let element">{{ element.lastFood }}</td>
	</ng-container>

	<ng-container matColumnDef="author">
		<th mat-header-cell *matHeaderCellDef>Author</th>
		<td
			mat-cell
			*matCellDef="let element"
			[ngClass]="{
				'blue-text': element.author === 'Marek',
				'red-text': element.author === 'Terezka'
			}"
		>
			{{ element.author }}
		</td>
	</ng-container>

	<ng-container matColumnDef="edit">
		<th class="add-edit-buttons-column" mat-header-cell *matHeaderCellDef>
			<button mat-button (click)="addOrEditEntry()">
				<mat-icon matTooltip="Add Entry">add</mat-icon>
			</button>
		</th>
		<td class="add-edit-buttons-column" mat-cell *matCellDef="let element">
			<div fxFill fxLayout="row">
				<button mat-button (click)="addOrEditEntry(element)">
					<mat-icon matTooltip="Edit Entry">edit</mat-icon>
				</button>
				<button mat-button (click)="delete(element)">
					<mat-icon matTooltip="Delete Entry">delete</mat-icon>
				</button>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
