@import '~@angular/material/theming';
@import './theme.scss';

@include mat-core();

// light theme - set as default
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-blue);
$light-warn:    mat-palette($mat-red);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

.light-theme {
    @include angular-material-theme($light-theme);
}

// dark theme

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
}

html,
body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

// @font-face {
//     font-family: 'Material Icons';
//     font-style: normal;
//     font-weight: 400;
//     src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
//     src: local('Material Icons'),
//     local('MaterialIcons-Regular'),
//     url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
//     url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
//     url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
// }

[mat-dialog-title] {
    margin: -24px -24px 0px -24px !important;
    padding: 10px 24px;
    color: $light-primary-text;
    cursor: move;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.green-icon {
    color: mat-color($mat-green, 600);

    svg {
        fill: mat-color($mat-green, 600);
    }
}

.grey-icon {
    color: mat-color($mat-grey, 600);

    svg {
        fill: mat-color($mat-grey, 600);
    }
}

.red-text {
    color: mat-color($mat-red, 600);
}

.green-text {
    color: mat-color($mat-green, 600);
}

.primary-text {
    color: mat-color($mat-indigo, 600);
}

